language: php

env:
    matrix:
        - COMPOSER_EXTRA_ARGS=""
        - COMPOSER_EXTRA_ARGS="--prefer-lowest"

php:
    - 7.1
    - hhvm

matrix:
    allow_failures:
        - php: hhvm

before_install:
    - composer self-update

install:
    - composer update --no-interaction --prefer-source $COMPOSER_EXTRA_ARGS

before_script:
    - |
        if [[ $TRAVIS_PHP_VERSION == '7.1' ]] && [[ $COMPOSER_EXTRA_ARGS == '' ]]; then
            ./vendor/bin/parallel-lint -e php,phpt --exclude vendor .
            ./vendor/bin/phpstan analyse -l 4 -c vendor/phpstan/phpstan-nette/extension.neon src tests
            composer create-project nette/code-checker code-checker ~2.3 --no-interaction --prefer-source
            php code-checker/src/code-checker.php -d src
            php code-checker/src/code-checker.php -d tests
            FLAGS="-d zend_extension=xdebug.so --coverage coverage.xml --coverage-src src"
        fi

script:
    - vendor/bin/tester tests -s -c tests/php-unix.ini -p php $FLAGS

after_script:
    - |
        if [[ $TRAVIS_PHP_VERSION == '7.1' ]] && [[ $COMPOSER_EXTRA_ARGS == '' ]]; then
            wget https://scrutinizer-ci.com/ocular.phar
            php ocular.phar code-coverage:upload --format=php-clover coverage.xml
        fi

after_failure:
    - for i in $(find tests -name \*.actual); do echo "--- $i"; cat $i; echo; echo; done

sudo: false

cache:
    directories:
        - $HOME/.composer/cache
